.footer{
    height: 70px;
    background-color: #2196F3;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
}

.footer__inner{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.footer__text-name{
    margin-bottom: 5px;
}
