.header{
    background-color: #2196F3;
    height: 70px;
    position: relative;
    margin-bottom: 50px;
}

.header__inner{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;
}

.header__my-profile{
    margin-left: auto;
    margin-right: 35px;
}

.menu{

}

.menu__list{
    display: flex;
    justify-content: space-between;
}

.menu__list-item{
    margin-right: 35px;
}

.menu__list-item{

    padding-left: 25px;
}

.menu__list-item + .menu__list-item{
    border-left: 1px solid #ffffff;
}

.menu__link{
    position: relative;
}

.menu__link:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: #ffffff;
    transition: width .4s;
    transform: translateX(-50%);
}

.menu__link:hover:after {
    width: 100%;
}

.user-nav__list{
    display: flex;
    justify-content: space-between;
}

.user-nav__list-item + .user-nav__list-item{
    margin-left: 25px;
}

.user__link{

}

.success-registration{
    width: 100%;
    height: 50%;
    background-color: inherit;
    opacity: 70%;
    color: #ffffff;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    z-index: -1;
    bottom: -50%;
    animation: moveUp 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes moveUp {
    from {
        bottom: -50%;
    }
    to {
        bottom: 0;
    }
}

@media(max-width: 645px){
    .header__inner{
        justify-content: center;
    }
}